.menu-button_burger__32Qax {
}

.menu-button_burger__32Qax svg {
  opacity: 1;
  transition: opacity 300ms ease, transform 300ms ease;
}

.menu-button_burger__32Qax svg[data-hide='true'] {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.mobile-menus_menu__9PnGa {
  margin-top: 24px;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms ease;
}

.mobile-menus_menu__9PnGa li {
  transition: opacity 300ms ease, width 300ms ease, border-color 300ms ease;
  white-space: nowrap;
  opacity: 0;
  width: 0px;
}

.mobile-menus_menuRendered__1Celt {
  opacity: 1;
  z-index: 1000;
}

.mobile-menus_menuRendered__1Celt li {
  width: 100%;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.mobile-menus_dark__3ct1F .mobile-menus_menuRendered__1Celt li {
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
}

.mobile-menus_menuRendered__1Celt li {
  transform: translateX(0);
  opacity: 1;
}

